<!DOCTYPE html>
<html lang="en">
<head>
<title>Web Phishing Detection</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section id="home">   
    <header>
            <ul id="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#team">Team</a></li>
            </ul>
    </header>
        <div class="class_2">
        <div class="wordings">
           
            <div class="highlight"> URL Detection</div>
            <p>Best security option to safeguard your data</p>
        </div>
        <div class="img-share">
        </div>
    </div>
    </section>
    <section id="about">
    <div class="class_3">
    <div class="firstcontainer">
        <p>Phishing attacks are the practice of sending fraudulent communications
        that appear to come from a reputable source. It is usually done through email.
        The goal is to steal sensitive data like credit card and login information, or
         to install malware on the victim’s machine. Phishing is a common type of cyber attack
          that everyone should learn about in order to protect themselves.</p>
          <a href="{{ url_for('res') }}" class="direct">PHISH IT !</a>
            
     </div>
    </div>
    </section>
    <section id="features">
        <div class="first-container">
            <h4>Business Use</h4>
            <p>With our platform,protecting your staff,data, brand,and yur customers from malicious websites has never been easier.With our platform,protectingyour staff,data,brand,and customer,from malicous websites is not easy.</p>
            <h4>Personal Use</h4>
            <p>Protect yourself and your family against malicious websites with our online security browser tool for free</p>
            <h4> Trustworthy</h4>
            <p>Ensures 100% security an privacy</p>
         </div>
         
        <div class="sec-container">
            <img src="../static/feature_image.jpg">
        </div>
    </section>
    <section id="team">
        
        <div class="row">
            <h2>Team Members</h2>
            <div class="card">
                <img src="../static/icon_user.png" alt="John" style="width:100px;height:90px">
                <h2>John Doe</h2>
               
              </div>
              <div class="card">    
                <img src="../static/icon_user.png" alt="John" style="width:100px;height:90px">
                <h2>John Doe</h2>
              
                
              </div>
              <div class="card">
                <img src="../static/icon_user.png" alt="John" style="width:100px;height:90px">
                <h2>John Doe</h2>
            
              </div>
              <div class="card">
                <img src="../static/icon_user.png" alt="John" style="width:100px;height:90px">
                <h2>John Doe</h2>
               
                   </div>
               
        </div>
        <div class="card-one">
          <h2>Web phsishing detection<br>TEAMIN</h2>  
            
        </div>
        <div class="card-two">
            <a href="">get the github link</a>
        </div>
        <div>

        </div>
    </section>
</body>
</html>